<div class="content">
  <div class="container">
    <form>
      <div class="row">
        <div class="form-group col-xs-12 col-sm-6 vertical-align">
          <label for="overdueChore" class="control-label">Overdue Chores</label>
          <div name="overdueChore" class="form-control" >
            {{overdueChoreCount}}
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6 vertical-align">
          <label for="latestChore" class="control-label">Latest Chore</label>
          <div name="latestChore" class="form-control">
            {{latestChore}}
          </div>
        </div>
        <div>
          {{error}}
        </div>
      </div>
    </form>
  </div>
</div>